*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    text-decoration: none;
    color: #303540;
}
body{
    background-position: center;
    background-attachment: fixed!important;
}
#home{
    height: 100vh;
    min-height: 500px;
}
#home .inner-width{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}
#home .content{
    width: 100%;
    color: white;
}

#home .content h1{
    font-size: 80px;
    margin-bottom: 60px;
    font-family:'CaiYunHanMaoBi-21fff774ce2220a';
}
.sm a{
    color: #fff;
    font-size: 22px;
    margin: 0 10px;
    transition: .2s linear;
}
.sm a:hover{
    color: #48dbfb;
}
#home .buttons{
    margin-top: 60px;
}
#home .buttons a{
    display: inline-block;
    margin: 15px 30px;
    color: #48dbfb;
    font-size: 15px;
    font-weight: 500;
    width: 100px;
    border: 1px solid #48dbfb;
    padding: 14px 0;
    border-radius: 6px;
    transition: .2s linear;
}
#home .buttons a:hover{
    background-color: #48dbfb;
    color: white;
    text-decoration: none;
}
footer p{
    font-size: .8rem;
}
.pb-3, .py-3{
    padding-bottom: .6rem!important;
}
.pt-3, .py-3{
        padding-top: .6rem!important;
}
#sidebar{
    width: 205px;
    position: fixed!important;
    top: calc(8%);
    left: calc(8%);
    float: left;
}
.direc-button{
    width: 30px;
    height: 50px;
    font-size: 10px;
    text-align: left;
    position: fixed;
    left: calc(18%);
    float: left;
    display: none;
}
.django-ckeditor-widget{
    width: 100%;
}
#upload-btn{
    background: white;
    color: #7abaff;
    border: 1px solid #7abaff;
    border-radius: 8px;

}
#upload-btn:hover{
    background: #7abaff;
    color: white;
    border: 1px solid white;
}
@media screen and (max-width: 1680px){
    #sidebar{
        position: fixed;
        left: calc(3%);
    }
}
@media screen and (max-width: 1620px){
    .direc-button{
        display: block;
        position: fixed!important;
        bottom: 45%;
        left: -5px;
        z-index: 99;
        transition: .1s linear;
    }
    .direc-button.direc-active{
        left: 205px;
    }
    #sidebar.direc-active{
        left: 0px;
    }
    #sidebar{
        position: fixed;
        bottom: 40%;
        left: -205px;
        background: white;
        z-index: 100;
        border-radius: 25px;
        transition: .1s linear;
        font-size: .8rem;
        overflow: scroll;
    }
}
@media screen and (max-width: 700px){
    #sidebar{
        font-size: .5rem;
    }
    .pb-3, .py-3{
        padding-bottom: .2rem!important;
    }
    .pt-3, .py-3{
        padding-top: .2rem!important;
    }
    footer p{
        font-size: .1rem;
    }
    .container h1{
        font-size: 1.5rem;
    }
    .container h2{
        font-size: 1.4rem;
    }
    .container h3{
        font-size: 1.3rem;
    }
    .container h4{
        font-size: 1.2rem;
    }
    .container h5{
        font-size: 1.1rem;
    }
    .container h6{
        font-size: 1rem;
    }
    .container div{
        font-size: .7rem;
    }
    .list-group-item{
        font-size: .7rem;
    }
}