<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %} {% load static %}
<!-- 写入 base.html 中定义的 title -->
{% block title %} 写文章 {% endblock title %}
<!-- 写入 base.html 中定义的 content -->
{% block content %}
<!-- 写文章表单 -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <!-- 提交文章的表单 -->
            <form method="post" action="." enctype="multipart/form-data">
                <!-- Django中需要POST数据的地方都必须有csrf_token -->
                {% csrf_token %}
                 <!-- 文章标题 -->
                <div class="form-group row">
                    <!-- 标签 -->
                    <label for="title" class="col-1 text-right d-flex justify-content-center align-items-center">标题</label>
                    <!-- 文本框 -->
                    <input type="text" class="form-control col-11" id="title" name="title">
                </div>
                <!-- 文章栏目 -->
                <div class="form-group row">
                    <label for="column" class="col-1 text-right d-flex justify-content-center align-items-center">栏目</label>
                    <select class="form-control col-11"
                            id="column"
                            name="column"
                    >
                            <option value="none">请选择栏目..</option>
                        {% for column in columns %}
                            <option value="{{ column.id }}">{{ column }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- 文章标签 -->
                <div class="form-group row">
                    <label for="tags" class="col-1 text-right d-flex justify-content-center align-items-center">标签</label>
                    <input type="text"
                           class="form-control col-11"
                           id="tags"
                           name="tags"
                    >
                </div>
                <!-- 文章标题图 -->
                <div class="form-group row">
                    <label for="avatar" class="col-1 text-right d-flex justify-content-center align-items-center">图床</label>
                    <button id="upload-btn" class="d-block col-2" type="button">上传图片</button>
                    <input type="file" name="img_bed" id="img_bed" class="d-none" multiple onchange="upload()"/>
                </div>
                {#   图床展示     #}
                <div class="form-group row imgs-bed">

                </div>
                <!-- 文章正文 -->
                <div class="form-group">
                    <label for="body">文章正文</label>
                    <!-- 文本区域 -->
                        <div  id="body" name="body" >
                            {{ article_form.media }}
                            {{ article_form.body }}
                        </div>
                </div>
                <!-- 提交按钮 -->
                <button type="submit" class="btn btn-primary">完成</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
    <script>
        $('#upload-btn').click(function () {
            $('#img_bed').click();
        });
        function upload() {
            let img_bed = $("#img_bed");
            if(img_bed.val() === '') {
                return;
            }
            var formData = new FormData();
            for(i = 0; i < img_bed[0].files.length; i++){
                formData.append('image[]',img_bed[0].files[0]);
            }
            formData.append('csrfmiddlewaretoken','{{ csrf_token }}')
            $.ajax({
                url:"{% url 'body:upload_images' %}",
                type:"post",
                data: formData,
                contentType: false,
                processData: false,
                success: function(data) {
                   console.log(data)
                },error:function(data) {
                    alert(data+"上传失败")
                }
            });
        }

    </script>
{% endblock script%}