{% extends 'base.html' %}
{% load static %}
{% block title %}首页{% endblock title %}

{% block content %}

<section id="home">
    <div class="inner-width">
        <div class="content">
            <h1>山高路远 随心而行</h1>
            <div class="sm">
                <a href="https://github.com/jingxiu1016" class="fab fa-github" target="_blank"></a>
                <a href="#allback" class="fab fa-qq" ></a>
                <a href='#allback' class="fab fa-weixin" ></a>
            </div>
            <div class="buttons">
                <a href="{% url 'body:list' %}">笔记查阅</a>
                <a href="#">(暂未开放)</a>
            </div>
        </div>
    </div>
</section>
    <a href="{% url 'body:index' %}" id="allback" onclick="showQR()">
        <div id="Social" class="Social-box">
            <div class="img-box"><img src="{% static 'imgs/qqq.jpg' %}" alt=""></div>
            <div class="img-box"><img src="{% static 'imgs/gzh.jpg' %}" alt=""></div>
        </div>
    </a>

{% endblock content %}

{% block script %}
    <script>
        function showQR() {
            $('#allback').css('cssText','display:none;');
        }
    </script>
{% endblock script %}