{% extends 'base.html' %}
{% load static %}
{% block title %}首页{% endblock title %}

{% block content %}

<section id="home">
    <div class="inner-width">
        <div class="content">
            <h1>山高路远 随心而行</h1>
            <div class="sm">
                <a href="https://github.com/jingxiu1016" class="fab fa-github" target="_blank"></a>
                <a href="#" class="fab fa-qq" title="QQ群:497724500"></a>
                <a href='#' class="fab fa-weixin" title="公众号:惊修"></a>
            </div>
            <div class="buttons">
                <a href="{% url 'body:list' %}">笔记查阅</a>
                <a href="#">(暂未开放)</a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}s