<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

{#<style>#}
{#    .btn-success{#}
{#        background-color: #ff7675;#}
{#    }#}
{#    .btn-danger{#}
{#        background-color: #fab1a0;#}
{#    }#}
{#    .btn-warning{#}
{#        background-color: #00cec9;#}
{#    }#}
{#</style>#}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    列表
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}


<!-- 定义放置文章标题的div容器 -->
<div class="container">

    <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a id="a1" href="{% url 'body:list' %}?search={{ search }}&column={{ column }}&tag={{ tag }}" >
                        最新
                    </a>
                </li>
                <li id="a2" class="breadcrumb-item">
                    <a href="{% url 'body:list' %}?order=views_total&search={{ search }}&column={{ column }}&tag={{ tag }}" >
                        最热
                    </a>
                </li>
            </ol>
        </nav>
    <!-- 新增，搜索栏 -->
    <div class="row">
        <div class="col-auto mr-auto">
            <form class="form-inline" >
                <label class="sr-only">content</label>
                <input type="text"
                    class="form-control mb-2 mr-sm-2"
                    name="search"
                    placeholder="搜索文章..."
                    required
                >
            </form>
        </div>
    </div>

    <!-- 新增，搜索提示语 -->
    {% if search %}
        {% if articles %}
            <h4><span style="color: red">"{{ search }}"</span>的搜索结果如下：</h4>
            <hr>
        {% else %}
            <h4>暂无<span style="color: red">"{{ search }}"</span>有关的文章。</h4>
            <hr>
        {% endif %}
    {% endif %}

    <!-- 列表循环 -->
    <div class="row mt-2">
        {% for article in articles %}
            <!-- 标题图 -->
            {% if article.avatar %}
                <div class="col-3" style="display: flex;justify-content: center;align-items: center">
                    <img id="" src="{{ article.avatar.url }}"
                         alt="avatar"
                         style="display: block;border-radius: 20px;
                         width: 100%;
                         height: 80%;
"
                    >
                </div>
            {% endif %}
            <!-- 文章内容 -->
            <div class="col-9">
                <!-- 栏目 -->
                {% if article.column %}
                    <a href="{% url 'body:list' %}?column={{ column }}">
                        <button type="button"
                            class="btn btn-sm mb-2"
                             {% if article.column.title == 'WEB' %}
                                style="background-color: #ff7675"
                            {% elif article.column.title == '计算机理论' %}
                                style="background-color: #00cec9"
                            {% elif article.column.title == 'C/C++' %}
                                style="background-color: #fdcb6e"
                            {% endif %}
                        >
                            {{ article.column }}
                        </button>
                    </a>
                {% endif %}
                <span>
                    {% for tag in article.tags.all %}
                        <a href="{% url 'body:list' %}?tag={{ tag }}"
                           class="badge badge-secondary"
                        >
                            {{ tag }}
                        </a>
                    {% endfor %}
                </span>
                <!-- 标题 -->
                <h4>
                    <b>
                        <a href="{% url 'body:read' article.id %}"
                           style="color: black;"
                        >
                            {{ article.title }}
                        </a>
                    </b>
                </h4>
                <!-- 摘要 -->
                <div>
                    <p style="color: gray;">
                        {{ article.body|slice:'100' }}...
                    </p>
                </div>
                <!-- 注脚 -->
                <p>
                    <!-- 附加信息 -->
                    <span style="color: green;">
                        {{ article.views_total }} 浏览&nbsp;&nbsp;&nbsp;
                    </span>
                    <span style="color: blue;">
                        {{ article.created|date:'Y-m-d' }} 发布&nbsp;&nbsp;&nbsp;
                    </span>
                    <span style="color: darkred;">
                        {{ article.updated|date:'Y-m-d' }} 更新
                    </span>
                </p>
                <hr>
            </div>
        {% endfor %}
    </div>
</div>
    <!-- 页码导航 -->
<div class="pagination row">
    <div class="m-auto">
        <span class="step-links">
            <!-- 如果不是第一页，则显示上翻按钮 -->
            {% if articles.has_previous %}
                <a href="?page=1&order=views_total&search={{ search }}&column={{ column }}&tag={{ tag }}"
                   class="btn btn-success">
                    &laquo; 1
                </a>
                <span>...</span>
                <a href="?page={{ articles.previous_page_number }}&order=views_total&search={{ search }}&column={{ column }}&tag={{ tag }}"
                   class="btn btn-secondary"
                >
                    {{ articles.previous_page_number }}
                </a>
            {% endif %}

            <!-- 当前页面 -->
            <span class="current btn btn-danger btn-lg">
                {{ articles.number }}
            </span>

            <!-- 如果不是最末页，则显示下翻按钮 -->
            {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}&order=views_total&search={{ search }}&column={{ column }}&tag={{ tag }}"
                   class="btn btn-secondary"
                >
                    {{ articles.next_page_number }}
                </a>
                <span>...</span>
                <a href="?page={{ articles.paginator.num_pages }}&order=views_total&search={{ search }}&column={{ column }}&tag={{ tag }}"
                   class="btn btn-success"
                >
                    {{ articles.paginator.num_pages }} &raquo;
                </a>
            {% endif %}
        </span>
    </div>
</div>


{% endblock content %}

<style>
    .active{
        color: gray!important;
        pointer-events: none!important;
    }
</style>

<script>
    window.onload = function () {
        {% if order == 'normal' %}
            $('a1').addClass('active');
        {% elif order == 'views_total'%}
             $('a2').addClass('active');
        {% endif %}
            $('a1').addClass('active');
    }
</script>