<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
{#    css 样式连接 #}
<link href='http://cdn.repository.webfont.com/webfonts/nomal/139786/165/5f111a28f629d8031cdfe5ea.css' rel='stylesheet' type='text/css' />
    <link href='http://cdn.repository.webfont.com/webfonts/nomal/139786/45904/5f111801f629d8031cdfe5e6.css' rel='stylesheet' type='text/css' />
<link type="text/css" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.13.1/css/fontawesome.min.css" rel="stylesheet">
<link type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
<link type="text/css" href="https://cdn.bootcdn.net/ajax/libs/layer/3.1.1/theme/default/layer.css" rel="stylesheet">
<link type="text/css" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/md_css/monokai.css' %}?_time={% now 'Gis'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/body/index.css' %}?_time={% now 'Gis'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/link/link.css' %}?_time={% now 'Gis'%}">

{#    js  脚本连接 #}
<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}?_time={% now 'Gis'%}"></script>
<script src="{% static 'js/sticky_sidebar/jquery.sticky-sidebar.min.js' %}?_time={% now 'Gis'%}"></script>
    <script type="text/javascript" src="{% static 'js/popper.js' %}?_time={% now 'Gis'%}"></script>
    <script type="text/javascript" src="{% static 'js/layer/layer.js' %}?_time={% now 'Gis'%}"></script>
    <script type="text/javascript" src="{% static 'js/footer.js' %}?_time={% now 'Gis'%}"></script>
</head>
<body>

{% include 'header.html' %}

{% block content %}{% endblock content %}


{% include 'footer.html' %}
{% block script %}{% endblock script %}

</body>
</html>
