<!-- 定义导航栏 -->
{% load static %}
{% load notifications_tags %}
{% notifications_unread as unread_cound %}

<style>
    .nav-flex{
        display: flex!important;
    }
    .nav-flex .navbar-brand{
        flex: 1;
    }
    .navbar-dark .navbar-nav .nav-link{
        color:white;
        font-family:'cyjianxk21ffef0fa32220a';
    }
    .navbar {
        background-color: rgba(255,255,255,.1);
    }
    .navbar-brand{
        font-family:'CaiYunHanMaoBi-21fff774ce2220a';
    }
    .nav-link:hover{
        color: #48dbfb!important;
    }
    .toggle{
        background: none;
        width: 30px;
        border: none;
        cursor: pointer;
        position: relative;
        outline: none;
        z-index: 999;
        display: none;
    }
    .toggle span{
        display: block;
        height: 3px;
        background-color:#fff;
        margin: 6px 0;
        transition: .3s linear;
    }
    @media screen and (max-width: 990px){
        .toggle{display: block;}
        .navbar-nav{
            position: fixed;
            height: 100vh;
            width: 100%;
            background-color:#95afc0;
            top:0;
            right: -100%;
            max-width: 200px;
            padding: 80px 50px;
            transition: .3s linear;
            z-index: 100;
        }
        .nav-link{
            display: block;
            color: whitesmoke!important;
            font-size: 25px;
            margin: 10px 0;
            padding: 0;
        }
        .nav-active{
            right: 0!important;
        }
        .toggle.nav-active span:nth-child(1){
            transform: rotate(-45deg);
            position: relative;
            top: 17px;
        }
        .toggle.nav-active span:nth-child(2){
            opacity: 0;
        }
        .toggle.nav-active span:nth-child(3){
            transform: rotate(45deg);
            bottom: 17px;
        }
        .dropdown-menu{
            min-width: 7rem;
            background-color: #95afc0;
            border: none;
            border-left: 1px solid whitesmoke;
        }
        .dropdown-menu .dropdown-item{
            color: whitesmoke;
            text-align: left;
            padding: 0.25rem .5rem;
        }
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container nav-flex">

    <!-- 导航栏标志 -->
    <a class="navbar-brand" href="{% url 'body:index' %}">惊修</a>
    {# 响应式菜单切换按钮 #}
    <div class="toggle">
        <span></span><span></span><span></span>
    </div>
    <!-- 导航入口 -->
    <div>

        <ul class="navbar-nav">
            <!-- 条目 -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'body:list' %}">笔记</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'links:link' %}">友链</a>
            </li>
            <!-- Django的 if 模板语句 -->
            {% if user.is_authenticated %}
                <!-- 如果用户已经登录，则显示用户名下拉框 -->
                <li id="user-box"  class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <!-- 新增代码，小红点 -->
                        {% if unread_count %}
                            <svg viewBox="0 0 8 8"
                                 width="8px"
                                 height="8px">
                                <circle cx="4"
                                        cy="4"
                                        r="4"
                                        fill="#ff6b6b"
                                        ></circle>
                            </svg>
                        {% endif %}
{#                        {% if user.avatar %}#}
{#                            <img src="{{  }}" alt="">#}
{#                            {% endif %}#}
                      {{ user.username }}
                    </a>
                    <div id="logout-box" class="dropdown-menu" aria-labelledby="navbarDropdown"  >
                         <!-- 新增 -->
                         <a class="dropdown-item" href='{% url "userprofile:profile_eidt" user.id %}'>个人信息</a>
                         <a class="dropdown-item" href="{% url 'body:create' %}">写文章</a>
                         <!-- 新增代码，通知计数 -->
                         <a class="dropdown-item" href="{% url 'notice:list' %}">通知
                            {% if unread_count %}
                            <span class="badge badge-danger">{{ unread_count }}</span>
                            {% endif %}
                         </a>
                         <a class="dropdown-item" href="#" onclick="user_delete()">删除用户</a>
                         <a class="dropdown-item" href="{% url 'userprofile:logout' %}">退出登录</a>
                    </div>
                    <form
                        style="display:none;"
                        id="user_delete"
                        action="{% url 'userprofile:delete' user.id %}"
                        method="POST"
                    >
                    {% csrf_token %}
                        <button type="submit">发送</button>
                    </form>
                </li>
            <!-- 如果用户未登录，则显示 “登录” -->
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'userprofile:login' %}">登录</a>
                </li>
            <!-- if 语句在这里结束 -->
            {% endif %}
        </ul>
    </div>

  </div>
</nav>
<script>
    $('.toggle').click(function () {
        console.log(1)
        $(this).toggleClass('nav-active');
        $('.navbar-nav').toggleClass('nav-active');
    });

    $('#user-box').onclick = function () {
        let user_control = $('#logout-box')
        user_control.css('display', 'block');
    }
    function user_delete() {
            // 调用layer弹窗组件
            layer.open({
                title: "确认删除",
                content: "确认删除用户资料吗？",
                yes: function(index, layero) {
                    $('form#user_delete button').click();
                    layer.close(index);
                },
            })
        }
</script>